<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="EF V2" value="https://nexus.englishtown.com/service/local/nuget/nuget.eflabs/" />
    <add key="EF V2-Beta" value="https://nexus.englishtown.com/service/local/nuget/nuget-beta/" />
    <add key="EF V2-Bos" value="https://nexus-bos.englishtown.com/service/local/nuget/nuget.eflabs/" />
    <add key="EF V2-Beta-Bos" value="https://nexus-bos.englishtown.com/service/local/nuget/nuget-beta/" />
    <add key="EF v4" value="https://nexus.englishtown.com/service/local/nuget/nuget-v4/" />
    <add key="EF v4-Beta" value="https://nexus.englishtown.com/service/local/nuget/nuget-v4-beta/" />
    <add key="EF v4-Bos" value="https://nexus-bos.englishtown.com/service/local/nuget/nuget-org/" />
    <add key="EF v4-Beta-Bos" value="https://nexus-bos.englishtown.com/service/local/nuget/et-v4-beta/" />
    <add key="EF Snapshots-beta-v2" value="https://nexus.englishtown.com/service/local/nuget/ef-snapshots-beta/" />
    <add key="ETown snapshots-beta-v2" value="https://nexus.englishtown.com/service/local/nuget/etown-snapshots-beta/" />
    <add key="EF Thirdparty" value="https://nexus-bos.englishtown.com/service/local/nuget/nuget-thirdparty/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
</configuration>
